<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleDisplayName</key>
  <string>CadZinho</string>
  <key>CFBundleExecutable</key>
  <string>cadzinho</string>
  <key>CFBundleIconFile</key>
  <string>icon_256.png</string>
  <key>CFBundleIdentifier</key>
  <string>com.Zecruel.CadZinho</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>CadZinho</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.4.0</string>
  <key>CFBundleSpokenName</key>
  <string>cad zinho</string>
  <key>CFBundleVersion</key>
  <string>0.4.0</string>
  <key>NSHumanReadableCopyright</key>
  <string>CadZinho 2023 by Zecruel - MIT Licence</string>
</dict>
</plist>