[Desktop Entry]
Version=1.0
Type=Application
Name=CadZinho
StartupWMClass=CadZinho
GenericName=CAD drawing tool
Comment=Minimalist CAD
Comment[pt_BR]=CAD minimalista
TryExec=cadzinho
Exec=cadzinho %F
Icon=cadzinho
Categories=Graphics;Engineering;
MimeType=image/vnd.dxf
Keywords=CAD;Drawing;DXF;2D;3D;Vectors;
Terminal=false
